.btn {
  transition: 0.3s ease-in-out;
  border: 2px solid #09cad8 !important;
}

.btn:hover {
  background-color: #09cad8;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn-group {
  display: block;
}
